@use "../../styles/_variable.scss";
@font-face {
    font-family: 'NHL Ducks';
    src: url('/fonts/NHLDucks.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.image {
    width: 100%;
    height: 100%; 
    overflow: hidden;
    display: block; 
    position: static;
    box-shadow: 0px 0px 5px 2px rgba(161, 154, 154, 0.568);
    border-radius: 10px;
}

.heroSection {
    position: relative;
    min-height: 110vh;
    transition: background-image 1s ease-in-out;
    overflow: hidden;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    z-index: -1;
    align-items: center;
    justify-content: space-between;
    .thumbnailWrapper {
        max-width: 550px;
        width: 45%;
        height: 250px;
        display: flex;
        margin-top: 170px;
        overflow: hidden;
        justify-content: center; 
    }
    
    .swiper-slide {
        display: flex;
        border-radius: 10px;
        position: relative;
        justify-content: center;
        align-items: center;
        z-index: 1;
        opacity: 0.5; 
        transform: scale(0.8);
        transition: transform 0.5s ease, opacity 0.5s ease;
    }
    
    .swiper-slide-prev,
    .swiper-slide-next {
        opacity: 0.7;
        transform: scale(0.9);
    }
    
    .swiper-slide-active {
        opacity: 1;
        transform: scale(1.1); 
    }
    .navigation{
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 170px;
        bottom: 30px;
        right: 190px;
        button{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #ffffff78;
            padding: 10px;
            position: relative;
            border: none;
            transition: background-image 0.3s ease;
        }
    }
    .herocontent {
        width: 50%;
        margin-left: 70px;
        max-width: 550px;
        position: relative;
        z-index: -1;
        margin-top: -80px;
        transition: background-image 1s ease-in-out;
        p{
            color: #B2B2B2;
            font-size: 20px;
        }
        h1 {
            font-family: 'NHL Ducks';
            color: white;
            font-size: 65px;
            font-weight: 600;
            font-weight: 500;
            margin-top:-20px;
            span {
                display: block;
                color: #EE9A2A;
                margin-top: -20px;
            }
        }

        button {
            width: 130px;
            background-image: linear-gradient(90deg, #C20013, #E14C00);
            padding: 8px 10px 8px 0px;
            clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
            border: none;
            font-size: 15px;
            color: #ffffff;
            align-items: center;
            display: inline-flex;
            border-radius: 5px !important;
            justify-content: center;
            gap: 5px; 
        }
    }
}